{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dozino - Profile</title>

  <link rel="stylesheet" href="assets/css/Profile.css">
  <link rel="shortcut icon" href="Assets/images/All/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="fonts/web/font-face.css">
  <link rel="stylesheet" href="assets/FontAwesome.Pro.7.2.0/css/all.css">

</head>

<body>
  <div class="page">
    <header class="topbar">

      <a class="home-link" href="file:///C:/Users/user/Desktop/123/index.html" aria-label="صفحه اصلی"
        title="صفحه اصلی">
        <!-- SVG Home Icon -->
        <svg class="home-icon" viewBox="0 0 24 24" aria-hidden="true">
          <path
            d="M12 3.2 3 10.4v10.4c0 .6.4 1 1 1h5.5v-7.2c0-.6.4-1 1-1h3c.6 0 1 .4 1 1V22H20c.6 0 1-.4 1-1V10.4l-9-7.2z" />
        </svg>
      </a>


      <div class="logo">Dozino</div>
    </header>

    <main class="layout">
      <section class="form-section">
        <div class="field">
          <label for="fullname">نام و نام خانوادگی</label>
          <input id="fullname" type="text">
        </div>

        <div class="field">
          <label for="username">نام کاربری</label>
          <input id="username" type="text">
        </div>

        <div class="field">
          <label for="email">ایمیل</label>
          <input id="email" type="email">
        </div>

        <div class="field">
          <label for="phone">شماره تماس</label>
          <input id="phone" type="text">
        </div>

        <div class="field">
          <label for="address">آدرس و کد پستی</label>
          <input id="address" type="text">
        </div>
      </section>

      <aside class="sidebar">
        <div class="profile-box">
          <img class="avatar" src="assets/images/All/a0522499-8d30-4690-a254-700a1cb6fa4b.png">
        </div>


        <nav class="sidebar-menu">
          <a href="#" class="menu-item active">مشخصات کاربر</a>
          <br>
          <a href="orders.html" class="menu-item">سفارشات</a>
        </nav>



        <div class="logout-container" dir="rtl">
          <a class="logout" href="login.html" aria-label="خروج">
            <span class="logout-icon"><i class="fa-solid fa-arrow-right-long"></i></span>
            <span class="logout-text">خروج</span>
          </a>
        </div>


        <div class="actions">
          <button type="button" class="btn btn-outline">ویرایش</button>
          <button type="submit" class="btn btn-solid">ثبت</button>
        </div>


      </aside>
    </main>
  </div>
</body>

</html>
{% endblock content %}