{% load static %}

<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>محصولات آماده | DOZINO</title>

    <link
      rel="shortcut icon"
      href="{% static 'imag/Dozino_Logo_Transparent.png' %}"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="{% static 'fonts/web/font-face.css' %}" />

    <link rel="stylesheet" href="{% static 'css/product listing.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">خانه</a></li>

          <li><a href="{% url 'list' %}">محصولات آماده</a></li>

          <li><a href="{% url 'index' %}#custom-section">دوخت سفارشی</a></li>

          <li><a href="{% url 'index' %}#about">درباره ما</a></li>
        </ul>
      </nav>

      <div class="logo">DOZINO</div>

      <div class="header-icons">
        {% if user.is_authenticated %}
        <a href="{% url 'cart' %}">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        {% else %}
        <a href="{% url 'login' %}">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        {% endif %} {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">
          <i class="fa-regular fa-user"></i>
        </a>
        {% else %}
        <a href="{% url 'login' %}">
          <i class="fa-regular fa-user"></i>
        </a>
        {% endif %}
      </div>
    </header>

    <section class="product-listing">
      <div class="container">
        <h2 class="section-title">کالکشن دوزینو</h2>

        <span class="section-divider"></span>

        <p class="section-subtitle">لباس منحصر به فرد، مخصوص تن تو</p>

        <!-- Search + Sort -->

        <form method="get" class="filter-bar">
          <input
            type="search"
            name="search"
            class="search-input"
            placeholder="جستجوی محصول..."
            value="{{ search }}"
          />

          <select name="sort" class="sort-select" onchange="this.form.submit()" >
            <option value="" {% if sort == "" %} selected {% endif %}>
              مرتب سازی
            </option>

            <option
              value="cheap" {% if  sort == "cheap" %} selected {%endif %}>
              ارزان‌ترین
            </option>

            <option
              value="expensive" {% if sort == "expensive" %} selected {% endif %}>
              گران‌ترین
            </option>

            <option value="new" {% if sort == "new" %} selected {% endif %}>
              جدیدترین
            </option>
          </select>

          <!-- {% if selected_category %}
          <input
            type="hidden"
            name="category"
            value="{{ selected_category }}"
          />
          {% endif %} -->
        </form>

        <!-- Category -->

        <div class="category-tabs">
          <a href="{% url 'list' %}" 
          class="category-tab {% if not request.GET.category %}active{% endif %}">
            همه
          </a>

          {% for category in categories %}

          <a
            href="?category={{ category.slug }}"
            class="category-tab {% if request.GET.category == category.gender %} active {% endif %}"
          >
            {{  category.get_gender_display }}
          </a>

          {% endfor %}
        </div>

        <div class="products-grid">
          {% for product in page_obj %}

          <div class="product-card">
            {% if product.old_price %}
            <span class="product-badge">
              <i class="fa-solid fa-fire"></i>
              تخفیف ویژه
            </span>
            {% endif %}
            {% if product.is_available %}
            <a href="{% url 'detail' product.slug %}">
              {% if product.main_image %}

              <img
                src="{{ product.main_image.image.url }}"
                alt="{{ product.name }}"
                class="product-image"
              />

              {% else %}

              <img
                src="{% static 'imag/no-image.png' %}"
                alt="{{ product.name }}"
                class="product-image"
              />

              {% endif %}
            </a>
            {% else %}
              {% if product.main_image %}

              <img
                src="{{ product.main_image.image.url }}"
                alt="{{ product.name }}"
                class="product-image"
              />

              {% else %}

              <img
                src="{% static 'imag/no-image.png' %}"
                alt="{{ product.name }}"
                class="product-image"
              />
              {% endif %}

            {% endif %}
            <div class="product-info">
              <h3 class="product-name">
                {% if product.is_available %}
                <a href="{% url 'detail' product.slug %}">
                  {{ product.name }}
                </a>
                {% else %}
                 {{ product.name }}
                {% endif %}
              </h3>

              <div class="product-price">
                {% if product.old_price %}

                <span class="old-price">
                  {{ product.old_price|floatformat:0 }}
                </span>

                {% endif %} {{ product.price|floatformat:0 }} تومان
               </div>

             {% if product.variants.exists %} 
              {% with variant=product.variants.first %} 
                {% if variant.stock > 0 %}
                 <a href="{% url 'detail' product.slug %}">
                  <button class="btn-cart">
                   <i ></i>
                   مشاهده محصول
                  </button>
                 </a>

                {% else %}

                  <button class="btn-cart disabled" disabled>
                   <i class="fa-solid fa-ban"></i>
                   اتمام موجودی  
                  </button>

                {% endif %} 
              {% endwith %} 
             {% else %}
              <button class="btn-cart disabled" disabled>
                <i class="fa-solid fa-ban"></i>
                ناموجود
              </button>
             {% endif %}

            </div>
          </div>

          {% empty %}
          <div class="no-product">
            <h2>محصولی پیدا نشد.</h2>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination -->

        {% if page_obj.paginator.num_pages > 1 %}

        <div class="pagination">
          {% if page_obj.has_previous %}

           <a
             href="?page={{ page_obj.previous_page_number }}{% if search %}&search={{ search }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}"
             class="page-link">
             قبلی
           </a>

          {% endif %} 
          {% for num in page_obj.paginator.page_range %} 
            {% if page_obj.number == num %}
             <span class="page-link active"> {{ num }} </span>

            {% else %}
              <a
                href="?page={{ num }}{% if search %}&search={{ search }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}"
                class="page-link">{{ num }}
              </a>

            {% endif %} 
          {% endfor %} 
           {% if page_obj.has_next %}
             <a
                href="?page={{ page_obj.next_page_number }}{% if search %}&search={{ search }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}"
                class="page-link">
                بعدی
             </a>
            {% endif %}
        </div>

        {% endif %}
      </div>
    </section>

    <footer>
      <div class="footer-col">
        <h2>DOZINO</h2>

        <p>همراه شما در طراحی و دوخت لباس</p>

        <div class="social">
          <a href="https://instagram.com" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>

          <a href="https://t.me" target="_blank">
            <i class="fa-brands fa-telegram"></i>
          </a>

          <a href="https://wa.me" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>
      </div>

      <div class="footer-col">
        <h3>دسترسی سریع</h3>

        <ul>
          <li><a href="{% url 'index' %}">خانه</a></li>

          <li><a href="{% url 'list' %}">محصولات آماده</a></li>

          <li><a href="{% url 'index' %}#custom-section">دوخت سفارشی</a></li>

          <!-- <li><a href="#">تماس با ما</a></li> -->
        </ul>
      </div>

      <div class="footer-col">
        <h3>خدمات مشتریان</h3>

        <ul>
          <li><a href="{% url 'index' %}#userGuide">راهنمای خرید</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h3>خبرنامه</h3>

        <input type="email" placeholder="ایمیل شما" />

        <button class="btn-subscribe">
          <i class="fa-regular fa-envelope"></i>

          عضویت
        </button>
      </div>

      <div class="footer-col">
        <h3>تماس با ما</h3>
        <p class="address" ><i class="fa-solid fa-location-dot"></i> آدرس: کرمان،بلوار هوانیروز/بلوار ستاری</p>
        <p><i class="fa-solid fa-phone"></i> شماره: 09139389391</p>
      </div>
    </footer>
  </body>
</html>
