{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product listing</title>

    <link rel="shortcut icon" href="{% static 'imag/Dozino_Logo_Transparent.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'fonts/web/font-face.css' %}">
    <link rel="stylesheet" href="{% static 'css/product listing.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

    <!-- start nav -->
    <header>

        <nav>
            <ul>
                <li><a href="{% url 'index' %}">خانه</a></li>
                <li><a href="{% url 'list' %}">محصولات آماده</a></li>
                <li><a href="{% url 'index' %}#custom-section">دوخت سفارشی</a></li>
                <li><a href="{% url 'index' %}#about">درباره ما</a></li>
            </ul>
        </nav>

        <div class="logo">
            DOZINO
        </div>

        <div class="header-icons">
            
            {% if user.is_authenticated %}
            <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></i></a>
            {% else %}
            <a href="{% url 'login' %}"><i class="fa-solid fa-cart-shopping"></i></a>
            {% endif %}

            {% if user.is_authenticated %}
             <a href="{% url 'profile' %}"><i class="fa-regular fa-user"></i></a>
            {% else %}
             <a href="{% url 'login' %}"><i class="fa-regular fa-user"></i></a>
            {% endif %}
        
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>

        </div>

    </header>
    <!-- end nav -->

    <br>
    <section class="product-listing">
        <div class="container">
            <h2 class="section-title">کالکشن دوزینو</h2>
            <span class="section-divider"></span>
            <p class="section-subtitle">لباس منحصر به فرد، مخصوص تن تو</p>

            <!-- فیلتر و جستجو  -->
            <form method="get" class="filter-bar">

              <input type="search" name="search" value="{{ search }}" class="search-input" placeholder="جستجوی محصول...">

              <select name="sort" class="sort-select">

              <option value="">پیش فرض</option>
              <option value="cheap"{% if sort == 'cheap' %}selected{% endif %}>ارزان‌ترین</option>
              <option value="expensive"{% if sort == 'expensive' %}selected{% endif %}>گران‌ترین</option>
              <option value="new" {% if sort == 'new' %}selected{% endif %}>جدیدترین</option>
              
              </select>

              <button type="submit">اعمال</button>

             </form>

            <!-- کتگوری زنانه، مردانه و بچگانه -->
            <div class="category-tabs">
                <button class="category-tab active" data-category="all">همه</button>
                <button class="category-tab" data-category="women">زنانه</button>
                <button class="category-tab" data-category="men">مردانه</button>
                <button class="category-tab" data-category="kids">بچگانه</button>
            </div>

            <div class="products-grid">
               
                {% for product in page_obj %}

                <div class="product-card">

                  <img src="{{ product.main_image.image.url }}">

                  <h3>
                   <a href="{% url 'detail' product.slug %}">
                     {{ product.name }}
                   </a>
                  </h3>

                  <div class="product-price">

                    {% if product.old_price %}
                    <span class="old-price">
                    {{ product.old_price }}
                    </span>
                    {% endif %}

                    {{ product.price }} تومان

                  </div>
                </div>
                {% endfor %}
                
            </div>

          <div class="pagination">

            {% if page_obj.has_previous %}

            <a href="?page={{ page_obj.previous_page_number }}">قبلی    
            </a>

            {% endif %}

            {% for num in page_obj.paginator.page_range %}

             <a href="?page={{ num }}">{{ num }}
             </a>

            {% endfor %}

            {% if page_obj.has_next %}

            <a href="?page={{ page_obj.next_page_number }}">بعدی
            </a>
            {% endif %}
         </div>
    </section>

    <!-- footer -->
    <footer>

        <div class="footer-col">

            <h2>DOZINO</h2>

            <p>
                همراه شما در طراحی و دوخت لباس
            </p>

            <div class="social">

                <a href="https://instagram.com" target="_blank" aria-label="اینستاگرام">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://t.me" target="_blank" aria-label="تلگرام">
                    <i class="fa-brands fa-telegram"></i>
                </a>

                <a href="https://wa.me" target="_blank" aria-label="واتساپ">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

            </div>

        </div>

        <div class="footer-col">

            <h3>دسترسی سریع</h3>

            <ul>
                <li><a href="{% url 'index' %}">خانه</a></li>
                <li><a href="{% url 'list' %}">محصولات آماده</a></li>
                <li><a href="{% url 'index' %}#custom-section">دوخت سفارشی</a></li>
                <li><a href="#">تماس با ما</a></li>
            </ul>

        </div>

        <div class="footer-col">

            <h3>خدمات مشتریان</h3>

            <ul>
                <li><a href="#">راهنمای خرید</a></li>
                <li><a href="#">پشتیبانی</a></li>
            </ul>

        </div>

        <div class="footer-col">

            <h3>خبرنامه</h3>

            <input type="email" placeholder="ایمیل شما">

            <button class="btn-subscribe">
                <i class="fa-regular fa-envelope"></i> عضویت
            </button>

        </div>

        <div class="footer-col">

            <h3>تماس با ما</h3>

            <p><i class="fa-solid fa-location-dot"></i> آدرس: کرمان ،خیابان جهاد</p>
            <p><i class="fa-solid fa-phone"></i> شماره: ۰۹۱۲۳۴۵۶۷۸۹</p>

        </div>

    </footer>
    <!-- end footer -->

    
</body>

</html>